@media (max-width: 768px) {
  .home-text {
    font-size: 0.82rem !important;
    line-height: 2.25rem !important;
    padding: 0 1rem;
    text-align: center;
    white-space: normal;
  }

  .home-link {
    font-size: 1rem !important;
    line-height: 1.75rem !important;
  }

  .top-left, .top-right {
    font-size: 1rem !important;
    top: 0.5rem !important;
  }
}

